:root{
    --black1: #202731;
    --black2:#1D2125;
    --blue1:#579DFF;
    --blue2: #0067A3;
    --blue3: #2C4261;
    --grey1: #9FABB9;
    --grey2: #919EAC;
    --grey4: #707070;
    --grey3: #999999;

}

@font-face {
    font-family: "poppins";
    src: url("./assets/Poppins-Medium.ttf");
}
@font-face {
    font-family: "poppins-bold";
    src: url("./assets/Poppins-Black.ttf");
}
@font-face {
    font-family: "poppins-light";
    src: url("./assets/Poppins-Thin.ttf");
}